.home {
    width: 100%;
    height: 100vh;
    background: url('./../images/proposal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.home::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(30,0,122,0.3)
}

.title {
    background-color: rgba(255,255,255,0.3);
    padding: 60px 26px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 54px;
        font-family: 'Italianno', cursive;
        color: $secondary-color;
        letter-spacing: 0;
    }
    h2 {
        font-size: 26px;
        color: $secondary-color;
    }
}

#countdown {
    display: block;
    font-size: 26px;
    color: $secondary-color;
    margin-top: 40px;
    height: 80px;
    display: flex;
    z-index: 10;
    .block {
        background-color: rgba(255,255,255,0.4);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 75px;
        margin: 0 5px;
        .unit {
            font-size: 12px;
            margin-top: 10px;
            text-transform: uppercase;
        }
    }
}

@media (min-width: 768px) {
    .home .title {
        width: 50vw;
        h1 {
            font-size: 74px;
        }
    }
    #countdown {
        width: 50vw;
        .block {
            width: 12vw;
            margin: 0 0.5vw;
        }
    }
}
