.how {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -39px;
        left: 0;
        width: 0;
        height: 0;
        border-top: 40px solid $secondary-color;
        border-left: 100vw solid transparent;
        z-index: 10;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        .how-header {
            display: block;
            background-color: $primary-color;
            color: $secondary-color;
            text-transform: uppercase;
            font-weight: bold;
            margin-left: -12px;
            margin-right: -12px;
            margin-bottom: 8px;
            padding: 8px;
            width: auto;
        }
        .transport-box {
            height: auto;
            width: 280px;
            background-color: $secondary-color;
            box-shadow: 0 0 22px -6px rgba(41,36,66,1);
            -webkit-box-shadow:0 0 22px -6px rgba(41,36,66,1);
            -moz-box-shadow: 0 0 22px -6px rgba(41,36,66,1);
            margin-bottom: 38px;
            padding: 0 12px 25px 12px;
            text-align: center;
            position: relative;
            color: $tertiary-color;
            a {
                color: $primary-color;
            }
        }
    }
}

@media (min-width: 768px) {
    .how .wrapper {
        flex-direction: row;
        align-items: flex-start !important;
        width: 100%;
        .transport-box {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}
