.navbar {
    width: 100%;
    height: 60px;
    background-color: #100075;
    position: fixed;
    z-index: 100;
}

#hamburger {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
    -webkit-user-select: none;
    user-select: none;
}

#hamburger input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: $secondary-color;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

#hamburger span:first-child {
    transform-origin: 0% 0%;
}

#hamburger span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#hamburger input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: $secondary-color;
}

#hamburger input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#hamburger input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 100vw;
    margin-left: -20px;
    padding: 50px;
    padding-top: 125px;
    top: -100px;
    background: $primary-color;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(0, -100%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    a {
        color: $secondary-color;
        text-decoration: none;
        letter-spacing: 0.15rem;
    }
}

#hamburger input:checked ~ ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
}

.nav-flag {
    width: 60px;
    height: 60px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px $primary-color;
}

.nav-flag-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    .nav-flag {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
    #nav-pl {
        background: url('./../images/flag-pl.png');
    }
    #nav-es {
        background: url('./../images/flag-mx.png');
    }
    #nav-en {
        background: url('./../images/flag-us.png');
    }
    #nav-pl, #nav-es, #nav-en {

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media only screen and (min-width: 845px) {
    #menu li a {
        &:hover {
            position: relative;
            overflow: hidden;
            background: linear-gradient(90deg, #000, #fff, #000);
            background-repeat: no-repeat;
            background-size: 80%;
            animation: shine 2s linear infinite;
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(255, 255, 255, 0);
        }
    }

    @keyframes shine {
        0% {
            background-position: -500%;
        }
        100% {
            background-position: 500%;
        }
    }
}
